<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.mapper.EmployeeMapper" >
    <resultMap id="BaseResultMap" type="com.personal.pojo.Employee" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="company_id" property="companyId" jdbcType="BIGINT" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="auth" property="auth" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, company_id companyId, email, name, auth
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
        select
        <include refid="Base_Column_List" />
        from employee
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByEmail" parameterType="java.lang.String" resultType="com.personal.pojo.Employee">
        select
        <include refid="Base_Column_List" />
        from employee where email = #{email,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="Long" >
        delete from employee
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.personal.pojo.Employee" >
        insert into employee (id, company_id, email,
                              name, auth)
        values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR}, #{auth,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.personal.pojo.Employee" >
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="companyId != null" >
                company_id,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="auth != null">
                auth,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="companyId != null" >
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="auth != null">
                #{auth,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.personal.pojo.Employee" >
        update employee
        <set >
            <if test="companyId != null" >
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="auth != null">
                auth = #{auth,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.personal.pojo.Employee" >
        update employee
        set company_id = #{companyId,jdbcType=BIGINT},
            email = #{email,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            auth = #{auth,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>